<% @events.each do |event| %>
  <div>
    <%= link_to event_path(event.id) do %>
      <%= event.title %>
    <% end %>
    <p>投稿者：<%= event.customer.nil? ? event.admin.name : event.customer.nickname %></p>
    <p><%= link_to "#{event.event_comments.count} コメント", event_path(event.id) %></p>
  </div>
<% end %>