<% @jitikais.each do |jitikai| %>
  <div>
    <%= link_to jitikai_path(jitikai.id) do %>
      <%= jitikai.title %>
    <% end %>
    <p>投稿者：<%= jitikai.customer.nil? ? jitikai.admin.name : jitikai.customer.nickname %></p>
  </div>
<% end %>