<div class="container mt-5">
  <div class='row justify-content-center mb-4'>
    <h1><strong>About</strong></h1>
  </div>
  <div class="row text-center justify-content-center mb-4">
    <p>このサイトはアートホームという自治会に属している方のみ使える情報掲示板です。<br>自治会連絡では避難訓練や改修工事などの自治会からのお知らせを<br>掲示板では自治会所属の皆様のコミュニティサイトとして<br>イベント連絡では自治会近辺のイベントの情報を<br>ごみの日では自治会でのごみの出し方について<br>情報を掲載したいと思います。</p>
  </div>
</div>