<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-10">
      <h1>HOME</h1>
    </div>
    <div class="col-md-3">
      <%= link_to "自治会連絡", jitikais_path %>
      
    </div>
    <div class="col-md-3">
      <%= link_to "掲示板", posts_path %>
      
    </div>
    <div class="col-md-3">
      <%= link_to "イベント連絡", events_path %>
    </div>
    <div class="col-md-3">
      <%= link_to "ごみの日", dusts_path %>
    </div>
  </div>
</div>
